.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.width-100 {
    width: 100%;
}

.menu-bar {
    min-height: 50px;
}

.menu-icon {
    padding: 10px;
}

.line-block {
    display: inline-block;
    width: 90%;
}

.button-float {
    position: fixed;
    width: 56px;
    bottom: 15px;
    right: 50px;
}

.button-float i {
    font-size: 40px;
    margin-top: 6px;
}

.login-form {
    width: 70%;
    margin-top: 20px;
    border: 1px solid #a78f8f;
}

.login-form md-input-container {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.button-black {
    background-color: #bbb3b3;
    color: black;
    margin: auto;
    max-width: 200px;
}

.small-padding {
    padding: 10px;
}

.button-nav {
    background-color: #bbb3b3;
    color: black;
    margin: auto;
    margin: 10px;
}

.header-page {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.form-crud {
    font-size: 12px;
}

.search-box {
    width: 80%;
    padding: 5px;
    margin: auto;
}