<div layout="column" class="wrapper form-crud">
    <md-content layout-padding>
        <div class="header-page">
            <label>Cadastro Usuarios</label>
        </div>

        <form name="clientForm">

            <div layout="row">
                <div flex="50"></div>

                <div flex="50">
                    <label>Endereço</label>
                </div>
            </div>

            <div layout="row">
                <div flex="50">
                    <label>Imagem de perfil</label>
                    <input type="file" ng-model="client.file">
                </div>

                <md-input-container flex="50">
                    <label>Rua/Avenida</label>
                    <input type="text" ng-model="client.adress">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Nome</label>
                    <input type="text" ng-model="client.name">
                </md-input-container>

                <md-input-container flex="50">
                    <label>Bairro</label>
                    <input type="text" ng-model="client.district">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>CPF</label>
                    <input type="text" ng-model="client.registration_code">
                </md-input-container>

                <md-input-container flex="50">
                    <label>CEP</label>
                    <input type="text" ng-model="client.zip_code">
                </md-input-container>
            </div>

            <div layout="row">
                <div flex="50">
                    <label>Sexo</label>
                    <md-radio-group ng-model="client.sex">
                        <md-radio-button value="Masculino">Masculino</md-radio-button>
                        <md-radio-button value="Feminino"> Feminino </md-radio-button>
                        <md-radio-button value="Outros">Outros</md-radio-button>
                    </md-radio-group>
                </div>

                <md-input-container flex="50">
                    <label>Cidade</label>
                    <input type="text" ng-model="client.city">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Data Nascimento</label>
                    <input type="date" ng-model="client._birth">
                </md-input-container>
                
                <md-input-container flex="50">
                    <label>Estado</label>
                    <input type="text" ng-model="client.state">
                </md-input-container>
            </div>
            
            <div layout="row">
                <md-input-container flex="50">
                    <label>Telefone</label>
                    <input type="text" ng-model="client.phone">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Email</label>
                    <input type="text" ng-model="client.email">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Senha</label>
                    <input type="text" ng-model="client.password">
                </md-input-container>
            </div>

            <div layout="row">
                <div flex="50">
                    <label>Deseja receber notificações sobre promoções?</label>
                    <md-radio-group ng-model="client.notifications">
                        <md-radio-button value="Sim">Sim</md-radio-button>
                        <md-radio-button value="Não"> Não </md-radio-button>
                    </md-radio-group>
                </div>
            </div>

            <div layout="row">
                <md-button type="button" class="button-black" ng-click="save()">Salvar</md-button>
            </div>
        </form>
    </md-content>
</div>