<div ng-controller="SideNavCtrl">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        
        <md-content layout-margin>
            <p>Menu de opções</p>
            <md-button ng-click="toHome()" class="line-block button-nav">Home</md-button>

            <md-button ng-click="toUsers()" class="line-block button-nav">Usuarios</md-button>

            <md-button ng-click="toClients()" class="line-block button-nav">Clientes</md-button>

            <md-button ng-click="toProducts()" class="line-block button-nav">Produtos</md-button>

            <md-button ng-click="toECommerce()" class="line-block button-nav">E-Commerce</md-button>

            <md-button ng-click="toClientsRegistration()" class="line-block button-nav">Cadastro de Clientes - e-commerce</md-button>

            <md-button ng-click="toLogin()" class="line-block button-nav">Sair</md-button>
            
        </md-content>
    </md-sidenav>
</div>