<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">

        <md-card md-theme-watch ng-repeat="product in products">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ product.name }}</span>
                    <span class="md-subhead">Preço: {{ formatNumber( product.price ) }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="edit(product.id)" >Editar</md-button>
                <md-button ng-click="delete(product.id)">Excluir</md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div class="button-float">
        <md-button class="md-fab" aria-label="Novo Produto" ng-click="new()">
            <i class="material-icons">add</i>
        </md-button>
    </div>
</md-content>