<div layout="column" class="wrapper form-crud">
    <md-content layout-padding>
        <div class="header-page">
            <label>Cadastro Cliente</label>
        </div>

        <form name="userForm">

            <div layout="row">
                <div flex="50"></div>

                <div flex="50">
                    <label>Endereço</label>
                </div>
            </div>

            <div layout="row">
                <div flex="50">
                    <label>Imagem de perfil</label>
                    <input type="file" ng-model="user.file">
                </div>

                <md-input-container flex="50">
                    <label>Rua/Avenida</label>
                    <input type="text" ng-model="user.adress">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Nome</label>
                    <input type="text" ng-model="user.name">
                </md-input-container>

                <md-input-container flex="50">
                    <label>Bairro</label>
                    <input type="text" ng-model="user.district">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>CPF</label>
                    <input type="text" ng-model="user.registration_code">
                </md-input-container>

                <md-input-container flex="50">
                    <label>CEP</label>
                    <input type="text" ng-model="user.zip_code">
                </md-input-container>
            </div>

            <div layout="row">
                <div flex="50">
                    <label>Sexo</label>
                    <md-radio-group ng-model="user.sex">
                        <md-radio-button value="Masculino">Masculino</md-radio-button>
                        <md-radio-button value="Feminino"> Feminino </md-radio-button>
                        <md-radio-button value="Outros">Outros</md-radio-button>
                    </md-radio-group>
                </div>

                <md-input-container flex="50">
                    <label>Cidade</label>
                    <input type="text" ng-model="user.city">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Data Nascimento</label>
                    <input type="date" ng-model="user._birth">
                </md-input-container>
                
                <md-input-container flex="50">
                    <label>Estado</label>
                    <input type="text" ng-model="user.state">
                </md-input-container>
            </div>
            
            <div layout="row">
                <md-input-container flex="50">
                    <label>Telefone</label>
                    <input type="text" ng-model="user.phone">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Email</label>
                    <input type="text" ng-model="user.email">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Senha</label>
                    <input type="text" ng-model="user.password">
                </md-input-container>
            </div>

            <div layout="row">
                <div flex="50">
                    <label>Tipo Usuario</label>
                    <md-select ng-model="ctrl.userState">
                        <md-option value="Gerente">Gerente</md-option>
                        <md-option value="Farmaceutico">Farmaceutico</md-option>
                    </md-select>
                </div>
            </div>

            <div layout="row">
                <md-button type="button" class="button-black" ng-click="save()">Salvar</md-button>
            </div>
        </form>
    </md-content>
</div>